/* General Page Styling */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f2f5;
  }
  
  /* Navbar Styling */
  .navbar {
    background-color: #3e2866;
    color: white;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 24px;
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    text-decoration: none;
    color: black;
  }
  /* Main Content Styling */
  .main-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Database Section Styling */
  .database-section {
    flex: 3;
  }
  
  .section-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .databases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .database-card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.2s ease;
    position: relative;
  }
  
  .database-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .database-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .database-type {
    font-size: 14px;
    margin-top: 15px;
  }
  
  /* Three Dots Dropdown Styling */
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
  }
  
  .dropdown-item {
    background-color: white;
    border: none;
    padding: 8px 12px;
    text-align: left;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Add Database Section */
  .add-database-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .add-database-btn {
    padding: 12px 24px;
    background-color: #3e2866;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-database-btn:hover {
    background-color: #000;
  }
  